<a href="https://colab.research.google.com/github/akki0066/akhil-123/blob/main/Exp2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

define a function using multiple return values

In [ ]:
def name():
  return"john","armin"

#print the tuple with the returned values
print(name())
# get the individual items
name_1,name_2 = name()
print(name_1,name_2)

('john', 'armin')
john armin

define a function using default arguments

In [ ]:
def student(firstname, lastname='mark',standerd='fifth'):
  print(firstname,lastname,'studies in',standerd,'standard')

# 1 keyword argument
student(firstname = 'John',)

# 2 keyword arguments
student(firstname = 'john',standerd='seventh')

# 3 keyword arguments
student(lastname = 'gates',firstname='john')

John mark studies in fifth standard
john mark studies in seventh standard
john gates studies in fifth standard

find the lenth of the string without using any library

In [ ]:
string = input("Enter string:")
count = 0
for i in string:
  count = count + 1
print("length of the string is:", count)

Enter string:hellow
length of the string is: 6

check if the substring is present in a given string or not.

In [ ]:
string=input("Enter string:")
sub_str=input("Enter word:")
if(string.find(sub_str)==-1):
  print("Substring not found in string!")
else:
  print("Substring in string!")

Enter string:hello world
Enter word:world
Substring in string!

to perform the given operations on a list:

In [ ]:
# initializing lists
test_list1 = [1, 3, 4, 6, 8]
test_list2 = [4, 5, 6, 2, 10]
# printing original lists
print ("Original list 1 : " + str(test_list1))
print ("Original list 2 : " + str(test_list2))
# using naive method to
# add two list
res_list = []
for i in range(0, len(test_list1)):
  res_list.append(test_list1[i] + test_list2[i])
  # printing resultant list
print ("Resultant list is :" + str(res_list))

Original list 1 : [1, 3, 4, 6, 8]
Original list 2 : [4, 5, 6, 2, 10]
Resultant list is :[5, 8, 10, 8, 18]

Insertion

In [ ]:
# making a list
score = [43,45,99,76]
#inserting a new score at third position
score.insert(2, 45)
#printing new list
print(score)

[43, 45, 45, 99, 76]

Slicing

In [ ]:
# Initialize list
List = [1, 2, 3, 4, 5, 6, 7, 8, 9]
# Show original list
print("Original List:\n", List)
print("\nSliced Lists: ")
# Display sliced list
print(List[3:9:2])
# Display sliced list
print(List[::2])
# Display sliced list
print(List[::])

Original List:
 [1, 2, 3, 4, 5, 6, 7, 8, 9]

Sliced Lists:
[4, 6, 8]
[1, 3, 5, 7, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9]

 to perform any 5 built-in functions by taking any list

In [ ]:
# An integer
var = -94
print('absolute values of integer is:',abs(var))

absolute values of integer is: 94

In [ ]:
# all the values true
k = [1,3,4,6]
print(all(k))

# all the values true
k = [0,False]
print(all(k))

# one false value
k = [1,3,7,0]
print(all(k))

# one true value
k = [0,False,5]
print(all(k))

# empty iterable
k =  []
print(all(k))

True
False
False
False
True

In [ ]:
x = 10
y = bin(x)
print(y)

0b1010

In [ ]:
string = "hello world."
array = bytes(string,'utf-8')
print(array)

b'hello world.'

In [ ]:
s = sum([1,2,4])
print(s)
s = sum([1,2,4],10)
print(s)

7
17